/*BODY*/

body {
    background-color: #6cb4c8;
    overflow-x: hidden;
}


/*HEADERS and PARAGRAPHS*/

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: "Good Vibes";
    font-size: 80px;
    margin: 30px 0px 0px 0px;
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: "Bebas";
    font-size: 50px;
    margin: 0;
}

h3 {
    text-align: left;
    color: whitesmoke;
    font-family: "Louis";
    font-size: 35px;
    padding: 0;
}

h4 {
    text-align: left;
    color: whitesmoke;
    font-family: "Bebas";
    font-size: 30px;
    padding: 0;
}

p {
    text-align: left;
    color: whitesmoke;
    font-family: "Louis";
    font-size: 20px;
    padding: 0;
}


/*LOGO*/

div.website_logo {
    position: absolute;
    width: 29%;
}

div.website_logo img {
    width: 20vh;
    height: 20vh;

}


/*NAV BAR*/

.horizontal_nav_bar ul {
    list-style-type: none;
    margin: 50px 10px 10px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #043d5d;
}

.horizontal_nav_bar li {
    float: left;
    width: 25%;
    margin: auto;
}

.horizontal_nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Bebas";
    font-size: 30px;
}

.horizontal_nav_bar li a:hover {
    background-color: #87d2b4;
}

/* video */

video {
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.85);
    max-width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

/* pictures */

.pictures div img {
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.56);
    text-align: center;
}

.pictures div img:hover {
    filter: none;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.56);
    text-align: center;
}

.pictures div img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pictures {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container {
    height: 100%;
    width: 250px;
}

/*FOOTER*/

.footer {
    background-color: #043d5d;
    width: 100%;
    text-align: left;
    font-family: "LOUIS";
    padding: 20px 20px;
    margin-top: 50px;
    height: 10%;
}

.footer .hr {
    opacity: 1;
    color: #9bd1e5;
}

.footer_links {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_links a:hover:not(.active) {
    color: #afd0bf;
}

.active {
    background-color: #87d2b4;
}

.footer_links a {
    text-decoration: none;
    display: inline-block;
    color: floralwhite;
    padding-right: 50px;
}

.footer .container {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer .container img {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    float: left;
    padding-right: 10px;
    padding-left: 50px;
}

.footer .container .overlay {
    opacity: 0;
    position: absolute;
}


/*HOME PAGE*/

#home_maincontent {
    background-color: #8ccca2;
    padding: 1%;
    margin: 1%;
}

/*PROJECTS PAGE*/

.vertical_nav_bar ul {
    position: relative;
    list-style-type: none;
    margin: 50px 10px 10px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #043d5d;
    width: 25%;
}

.vertical_nav_bar li {
    float: center;

}

.vertical_nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Bebas";
    font-size: 20px;
}

.vertical_nav_bar li a:hover {
    background-color: #87d2b4;
}

/* PROJECTS PAGE - WASTE*/
#waste_content{
    background-color: #8ccca2;
    padding: 1%;
    margin: 1%;
}

.waste_pictures div img{
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.56);
    text-align: center;
    margin: 0px 30px 0px 30px;
}


.waste_pictures {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    width: 100%;
}

#waste_image1 img:hover,
#waste_image2 img:hover {
    display: block;
    border: 5px solid rgba(255, 255, 255, 0.56);
    width: 500px;
    height: 100%;
    filter: none;
}

#waste_image1 img,
#waste_image2 img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    opacity: 0;
    font-family: "Good Vibes";
    color: rgba(255, 255, 255, 0.87);

}

.container:hover .overlay {
    opacity: 1;
}

/* PROJECTS PAGE - CLEAN AND GREEN*/

.cg_pictures1 div img:hover {
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.56);
    text-align: center;
    margin: 0px 30px 0px 30px;
    height: 100%;
    width: 100%;
    filter: none;
}
.cg_pictures1 div img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.cg_pictures1 {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    width: 100%;
    height: 450px;
}

#cg_image1 img,
#cg_image2 img {
    display: block;
    border: 5px solid rgba(255, 255, 255, 0.56);
    width: 550px;
    height: 100%;
}

/*CLEAN*/

#cg_content, #green_content{
    background-color: #8ccca2;
    padding: 1%;
    margin: 1%;
}

#clean_content, #project_maincontent{
    background-color: #fac25d;
    padding: 1%;
    margin: 1%;
}

.clean_pictures h3 {
    grid-area: top;
    text-align: center;
}

div #clean_image1 {
    grid-area: left;
}

div #clean_image2 {
    grid-area: middle;
}

div #clean_image4 {
    grid-area: right;
}

.clean_pictures {
    display: grid;
    grid-template-areas: 'top top top top top top' 'left left middle middle right right' 'left left middle middle right right';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 30% 30%;
    height: 500px;
}

/*GREEN*/

.green_pictures div img {
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.56);
    text-align: center;
    margin: 0px 30px 0px 30px;
}

.green_pictures div {
    margin-left: 23px;
}

.green_pictures h3 {
    grid-area: top;
    text-align: center;
}

div #green_image1 {
    grid-area: tleft;
}

div #green_image2 {
    grid-area: tright;
}

div #green_image3 {
    grid-area: bleft;
}

div #green_image34 {
    grid-area: bright;
}

.green_pictures {
    display: grid;
    grid-template-areas: 'top top' 'tleft tright' 'bleft bright';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 40% 40%;
    height: 900px;
}

/* ABOUT PAGE*/

#author1 img,
#author2 img,
#author3 img,
#author4 img,
#author5 img,
#author6 img {
    border-radius: 50%;
    float: left;
    margin: 0px 2px 0px 2px;
}

#author1 p,
#author2 p,
#author3 p,
#author4 p,
#author5 p,
#author6 p {
    ;
    float: left;
    margin: 0px 2px 0px 2px;
}

div #author1,
div #author2,
div #author3,
div #author4,
div #author5,
div #author6 {
    width: 45%;
    display: grid;
    float: left;
    margin: 10px 50px 2px 2px;
}

/* CONTACT US PAGE*/

/*FONTS*/

@font-face {
    font-family: "Good Vibes";
    src: url("fonts/Good Vibes - Demo.ttf")
}

@font-face {
    font-family: "Bebas";
    src: url("fonts/BebasNeue-Regular.ttf")
}

@font-face {
    font-family: "Louis";
    src: url("fonts/Louis George Cafe.TTF")
}

br {
    position: absolute;
}

hr {
    position: absolute;
    opacity: 0px;
}
