@font-face{
    font-family: "market";
    src: url("font/Market_Deco.ttf");
}

@font-face{
    font-family: "bebas";
    src: url("font/BebasNeue-Regular.otf");
}
@font-face {
    font-family: "BearHugs";
    src: url("font/BEARHUGSBYRATTICSASSIN-Regular.ttf");
}
@font-face{
    font-family: "amaticBold";
    src: url("font/Amatic-Bold.ttf");
}
@font-face{
    font-family: "amatic";
    src: url("font/AmaticSC-Regular.ttf");
}
body {
    background: white;
    margin: 0;
}
#title {
    width: 100%;
    margin-top: 0;
    align-content: center;
    background-color: rgba(246, 189, 96, 0.47);
    height: 500px;
    margin-bottom: 0px;
    
}

#title_container {
    letter-spacing: 10px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.38);
    margin-top: 105px;
    width: 1325px;
    position: absolute;
    font-size: 70px;
    color: white;
    font-family: "amaticBold";
     text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgba(215, 123, 84, 0.42);
}

#title_container p+p {
    width: 100%;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: "amaticBold";
}

#home_body_title {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    padding: 20px 0px 20px 0px;
    background-color: rgba(248, 151, 67, 0.99);
    text-shadow: 3px 4px rgba(0, 0, 0, 0.34);
    color: white;
}

#home_body{
    background: #F6BD60 ;
    color: #e8e8e8;
    padding: 15px 50px 15px 50px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    text-align: justify;
    font-size: 40px;
}

footer {
    padding-top: 5px;
    background: rgba(215, 123, 84, 0.69);
    text-align: center;
}

footer a:link{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: rgba(215, 123, 84, 0.69);
    border-radius: 10px;
}

footer a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(234, 151, 116, 0.69);

}

footer a:active {
  background-color: rgb(47, 57, 18);
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

footer a:visited {
    color: white;
}


footer p+p {
    margin-bottom: auto;
 text-align: center;
 background: #E28413;
    color:wheat;
    padding: 3px;
}

/* Navigation Bar */
#menu {
    position: absolute;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A95D58;
    overflow-x: hidden;
    padding-top: 20px;
    list-style-type: none;
    opacity: 0.9;
}

#menu a {
    padding: 6px 8px 6px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #F6BD60;
    display: block;
    font-family: "amaticBold";
    font-size: 30px;
    list-style-type:none;
}

#menu a:hover {
    color: #f1f1f1;
}
ul {
    list-style-type:none;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*body fonts*/


body {
    margin-left: 170px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    font-family: "amatic";
    background-color: #F5CAC3;
}

/*barangay activities1*/
#brgy_p1_wrapper hph{
    height: 100%;
    width: 100%;
}

#brgy_p1_wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 1vh;
}

#brgy_p1_wrapper{
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 50vh 50vh;
    grid-gap: 5px;
}

#brgy_p1_wrapper .e{
    grid-row: 1/3;
    grid-column: 3;
}

#brgy_p2_wrapper hph{
    height: 100%;
    width: 100%;
}

#brgy_p2_wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 1vh;
}

#brgy_p2_wrapper{
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 50vh 50vh;
    grid-gap: 5px;
}

#brgy_p2_wrapper .e{
    grid-row: 1/3;
    grid-column: 3;
}


/** index gallery */

#home_wrapper hph{
    height: 100%;
    width: 100%;
}

#home_wrapper div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 1vh;
}

#home_wrapper{
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 50vh 50vh;
    grid-gap: 5px;
}

#home_wrapper .e{
    grid-row: 1/3;
    grid-column: 3;
}

/** gallery page*/

#gallery_body {
    background: linear-gradient(#F6BD60, rgba(215, 123, 84, 0.42));
    height: 1150px;
}
h1{ 
    color: white;
    margin-top: 0px;
    text-align: center;
    border-style: outset;
    font-size: 70px;
     box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.38);
    background-color: rgba(215, 123, 84, 0.42);
    align-content: center;
    padding: 50px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
}

h2{ 
     box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.38);
    font-size: 50px;
    color: white;
    text-align: center;
    border-style: outset;
    background-color: rgba(215, 123, 84, 0.42);
    padding: 25px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
}

.page_title {
    padding: 15px;
    border-left: 6px solid #f5aa2f;
    border-right: 6px solid #f5aa2f;
    text-decoration: bold;
     box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.38);
    font-family: "amatic";
    letter-spacing: 20px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    color: white;
    margin-bottom: 10px;
    font-size: 60px;
    background-color: #F6BD60;
    text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
    
    float: left;
    width: 20%;
    padding-left: 60px;
}

.column img {
    border: 5px solid;
    border-color: #f8b341;
    width: auto;
    margin-top: 12px;
}

.hvrbox-layer_top{
    padding: 5px;
    border-radius: 10px;
    background-color: #ffb43b;
    text-align: center;
}
.hvrbox-text {
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4)
    color: wheat;
    font-family: "amatic";
}


/*about*/
.about_title{
     font-size: 12px;
    text-align: center;
    font-family: "amaticBold";
    color: antiquewhite;
    letter-spacing: 10px;
    padding: 1px 1px 1px 1px;
    background-color:rgba(29, 33, 18, 0.68);
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-color: #A5B768;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4)
}

#title{
    text-align: center;
    border-style: outset;
    font-size: 70px;
    background-color: rgba(29, 33, 18, 0.68);
    align-items: center;
    padding: 50px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(215, 123, 84, 0.42);
    color: white;
}
.page_title{
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    padding: 20px 0px 20px 0px;
    background-color: rgba(248, 151, 67, 0.99);
    text-shadow: 3px 4px rgba(0, 0, 0, 0.34);
    color: white; 
}
.about_title{
    margin-top: 0;
    text-align: center;
    background-color: #A95D58;
    font-size: 12px;
    letter-spacing: 10px;
    padding: 1px 1px 1px 1px;
    color: white; 
      border-color: #A95D58;
}

.member_imgs {
	width: 15%;
	height: 15%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
	transition: all 0.4s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.descript{
    text-align: center;
    font-family: "amaticBold";
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px 170px 30px 170px;
    font-size: 23px;
    border: solid 1px;
     background: #F6BD60 ;
    box-shadow: 5px 10px 18px #888888;
    font-size: 25px;
    color: black;
    padding: 15px 50px 15px 50px;
   
}


.descript:hover {
    width: 1000px;
}

.member_name{
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    text-align:center ;
    font-size: 30px;
    font-family: "amaticBold";
}
/*barangay activities*/
#brgy_p1_title {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    padding: 10px 0px 10px 0px;
    background-color: rgba(248, 151, 67, 0.99);
    text-shadow: 3px 4px rgba(0, 0, 0, 0.34);
    color: white;
}

#brgy_body{
    background: #F6BD60 ;
    color: #e8e8e8;
    padding: 15px 50px 15px 50px;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.4);
    text-align: justify;
    font-size: 40px;
}