/*  making the video fullscreen  */
#video-background {
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
}

.website_logo{
    background-color: dimgray;
}
.pg_caption {
	/*header */
	color: #fff;
	font-family: Helvetica;
	text-shadow: 2px 2px 10px #000000;
	font-size: 1.3em;
    text-align: center;
    letter-spacing: 10px;
}

.horizontal_nav_bar{
    text-align:  center;
}

.horizontal_nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

.horizontal_nav_bar li {
    float: left;
}
	
.horizontal_nav_bar li a {
	display: block;
    color: white;
    padding: 14px 100px 16px 100px;
    text-decoration: none;
    font-family: Helvetica;
    letter-spacing: 5px;
}

.horizontal_nav_bar li a:hover:not(.active) {
    background-color: darkseagreen;
}

.active {
    background-color: #4CAF50;
}

hr{
    opacity: 0;
}

#author1{
    background: white;
    opacity: 5;
}
#author1 img{
    border-radius: 50%;
}

#author2 img{
    border-radius: 50%;
}

#author3 img{
    border-radius: 50%;
}

#author4 img{
    border-radius: 50%;
}

#author5 img{
    border-radius: 50%;
}

#author6 img{
    border-radius: 50%;
}





