/*	------making the video fullscreen------	*/

body {
    position: relative;
    background-color: #f8eae1;
}

body #video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    top: -50%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(53px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

/* website_logo position with border*/

.website_logo {
    position: relative;
    width: 200px;
    height: 150px;
    border: 3px solid #333;
    background-color: rgba(255, 255, 255, 0.52);
}

/* header 1 */

h1 {
    text-align: center;
    color: #fff;
    font-family: "Hehe";
    text-shadow: 1px 1px 5px #000000;
    font-size: 4.3em;
    letter-spacing: 10px;
}

/* header 2 */

h2 {
    text-align: center;
    color: #fff;
    font-family: "FUTURIST";
    text-shadow: 2px 2px 10px #000000;
    font-size: 3.3em;
    letter-spacing: -15px;
}

/* all horizontal_nav_bar position and styles */

.horizontal_nav_bar {
    position: relative;
    height: 20%;
    width: 89.10%;
    top: -400px;
    left: 10.90%;
    border: 3px;
    margin: 0px 60px;
}

.horizontal_nav_bar ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.horizontal_nav_bar li {
    float: left;
}

.horizontal_nav_bar ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: .6cm;
    padding: 20px 50px;
    text-decoration: none;
    font-family: "Louis";
}

.horizontal_nav_bar ul li a:hover:not(.active) {
    background-color: #afd0bf;
}

.active {
    background-color: #4CAF50;
}


/* --------------------------------------------------*/

/* home content, background color and border */

#home_maincontent p {
    background-color: rgba(175, 208, 191, 0.86);
    tab-size: 8px;
    color: #333;
    margin-right: 15%;
    margin-left: 15%;
    padding: 25px 15px;
    text-align: right;
    box-shadow: 8px 8px #778789;
}

/* home content position */

#home_maincontent {
    opacity: 2;
    position: relative;
    font-size: .6cm;
    font-family: "Louis";
    text-align: right;
    margin: 100px 0px 0px 0px;
}

.pictures div img {
    object-fit: cover;
    width: 95%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0.56);
    text-align: center;

}

.pictures {
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 50vh 50vh;
    align-content: center;
}

.pictures .e {
    grid-row: 1/2;
    grid-column: 3;
}

/* --------------------------------------------------*/

/* project main content, background color and border */

#project_maincontent p {
    background-color: rgba(175, 208, 191, 0.86);
    tab-size: 8px;
    color: #333;
    margin: 0px 200px 0px 300px;
    padding: 25px 15px;
    text-align: right;
    box-shadow: 8px 8px #778789;
}

/* project main content position */

#project_maincontent {
    opacity: 2;
    position: relative;
    font-size: .6cm;
    font-family: "Louis";
    text-align: right;
}

.pictures img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#p1_image1,
#p1_image2,
#p1_image3 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 15px 15px;

}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 3%;
    left: 21%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(175, 208, 191, 0.85);
    font-size: 20px;
    padding: 16px 32px;
    font-family: "Louis";
    color: #333;
    box-shadow: 3px 3px #778789;

}


/*footer section*/

.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: left;
    font-family: "LOUIS";
    padding: 20px 20px;
    margin-top: 50px;
    height: 10%;

}

.footer .hr {
    opacity: 1;
    color: #9bd1e5;

}

.footer_links {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_links a:hover:not(.active) {
    color: #afd0bf;
}

.active {
    background-color: #afd0bf;
}

.footer_links a {
    text-decoration: none;
    display: inline-block;
    color: floralwhite;
    padding-right: 50px;

}

.footer .container {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer .container img {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    float: left;
    padding-right: 10px;
    padding-left: 50px;
}

.footer .overlay {
    display: inline-block;
    width: 100px;
    height: 15px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    float: left;
    padding: 5px;
    padding-bottom: 8px;
    opacity: 0;
    transition: .5s ease;
    background-color: #9bd1e5;
    font-family: "LOUIS";
}

.container:hover .overlay {
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.footer p {
    text-align: center;
    display: inline-block;
}

/* wala na */

hr {
    position: absolute;
    bottom: 0 opacity: 0;
    display: none;
}

br {
    display: none;
}

/* --------------    */

/* Environmental Protection Projects */

/* vertical_nav_bar position and styles */

.vertical_nav_bar {
    position: relative;
    width: 100%;

}

.vertical_nav_bar ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #778789;
    margin: 0px 50px 0px 50px;
}

.vertical_nav_bar ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: .5cm;
    padding: 19px 10px;
    text-decoration: none;
    font-family: "Louis";
}

.vertical_nav_bar ul li a:hover:not(.active) {
    background-color: #111;
}

/* --------------------------------------------------*/

/*About page*/

/*Images of the designers*/

.about_content {
    font-family: "Louis";
    padding: 0px 10px 0px 10px;
    background-color: #afd0bf;
    box-shadow: 8px 8px #778789;
}

.about_content p {
    text-align: left;
}

#author1,
#author2,
#author3,
#author4,
#author5,
#author6 {
    height: 350px;
    width: 500px;
    background-color: #efbc9b;
    float: left;
    margin: 50px 60px 50px 60px;
    box-shadow: 8px 8px #778789;
}



#author1 img,
#author2 img,
#author3 img,
#author4 img,
#author5 img,
#author6 img {
    border-radius: 50%;
    float: left;
    margin: 0px 2px 0px 2px;
}

#author1 p,
#author2 p,
#author3 p,
#author4 p,
#author5 p,
#author6 p {
    margin: 0px 10px 0px 10px;
    text-align: left;
}

@font-face {
    font-family: "Hehe";
    src: url("fonts/Copperhead Condensed_Demo.ttf")
}

@font-face {
    font-family: "FUTURIST";
    src: url("fonts/FUTRFW.TTF")
}

@font-face {
    font-family: "Louis";
    src: url("fonts/Louis George Cafe.TTF")
}
