/*  making the video fullscreen  */
#video-background {
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
}

.pg_caption {
	/*header */
	color: #fff;
	font-family: Helvetica;
	text-shadow: 2px 2px 10px #000000;
	font-size: 1.3em;
}


.horizontal_nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.horizontal_nav_bar li {
    float: left;
}
	
.horizontal_nav_bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal_nav_bar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}